/* Подключение шрифтов */

@font-face {
  font-family: 'xanthus';
  src: url('../fonts/ofont.ru_Xanthus.ttf');
}

@font-face {
  font-family: 'marutya';
  src: url('../fonts/ofont.ru_Marutya.ttf');
}

body {
  /* Навигация по направлениям портфолио */
  a#home-page{
    float: left;
    margin: 20px;
  }

  div#direction-nav {
    position: fixed;
    width: 100%;
    height: 100px;
    background-color: #000000d4;
    margin-top: -50px;
	  div#label-block{
		  margin-top: 50px;		  
		  label{
			  float: right;
			  color: green;
			  margin_left: 5px;
		  }  
	  }
	  
/* Навигация по работам одного направления исходное состояние */
    div.work-nav {	
	  display: none;     
    }
/* Навигация по работам одного направления активное состояние  */
	div.work-nav-active{ 
	  a {
        text-decoration: none;
        display: block;
        color: #b2ff61;
        padding: 5px;
        border-radius: 5px;
      }
    }
  }

  /* Контент главной страницы портфолео */
  div#portfolio {
    margin-top: 50px;
    font-family: marutya;
    color: #00b3ee;
    font-size: 3em;
  }

}

